@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
    
    background-color: rgb(24, 24, 24);
}

.main{

    border-radius: 1em;
    margin: 1% 0% 0% 1.6%;
    background-color: rgb(37, 37, 37);
    width: 96.4%;
    padding-bottom: 3%;
}

h3{

    letter-spacing: 0.05em;
    display: flex;
    justify-content: center;
    font-family:"Bebas Neue";
    color: aliceblue;
    font-size: 1.5em;
}

h2{

    margin: 0%;
    padding-top: 1%;
    display: flex;
    justify-content: center;
    font-family:"Bebas Neue";
    color: aliceblue;
    font-size: 6em;
}

/* ====================== CARD GAME SETTINGS ======================== */

.game{

    display: flex;
    justify-content: center;
}

.main-cards {

    justify-content: center;
    grid-template-columns: 10.5% 10.5% 10.5% 10.5% 10.5% 10.5% 10.5% 10.5% 10.5% 10.5%;
    display:grid;
    
}

.slot-card.flip {
    
    transform: rotateY(180deg);
  }

.slot-card {

    cursor: pointer;
    margin: 2px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
  }

.carta-costa{

    position: absolute;
    margin: 3%;
    height: 94%;
    width: auto;
    transition: 0.5s;
    backface-visibility: hidden;
}

.carta-frente{

    margin: 3%;
    height: 15em;
    transition: 0.5s;
    
}

/* ====================== FOOTER ======================== */

.game-stats{

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    margin: 1.5% 0% 0% 1.6%;
    background-color: rgb(37, 37, 37);
    width: 96.4%;
    height: 80%;

}

.pair-card-counting{

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-left: 0.5%;
    background-color: rgb(71, 71, 71);
    width: 8%;
    height: 50px;

}

.chronometer{

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(71, 71, 71);
    width: 8em;
    height: 50px;

}

.score{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
    border-radius: 15px;
    background-color: rgb(71, 71, 71);
    width: 8em;
    height: 50px

}

/*  @media (max-width: 1500px){
    .game{
        display: none;
    }
}*/

.time-and-reset-buttons{

    padding-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-and-reset-buttons button{
    cursor: pointer;
}

#play{
    
    margin: 10px;
    font-size: 25px;
    font-family:"Bebas Neue";
    border-radius: 0.5em;
    color: white;
    background-color: rgb(71, 71, 71);
}

#pause{

    margin: 10px;
    font-size: 25px;
    font-family:"Bebas Neue";
    border-radius: 0.5em;
    color: white;
    background-color: rgb(71, 71, 71);
}

#reset{

    margin: 10px;
    font-size: 25px;
    font-family:"Bebas Neue";
    border-radius: 0.5em;
    color: white;
    background-color: rgb(71, 71, 71);
}

.pares{

    padding-left: 50px ;
    font-family:"Bebas Neue";
    color: white;
    font-size: 25px;
}

.time{

    padding-left: 50px ;
    padding-right: 10px;
    font-family:"Bebas Neue";
    color: white;
    font-size: 25px;
}

.ponto{

    padding-left: 50px ;
    padding-right: 10px;
    font-family:"Bebas Neue";
    color: white;
    font-size: 25px;
}